.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0.7rem;
}

.sidebar__navigation {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px 0 0 16px; /* top right bottom left */
}

.sidebar__navigation .logo {
  background: #121212;
  display: flex;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
  width: 80px;
}

.sidebar nav ul {
  margin-top: 20px;
  padding: 0 20px 10px 20px;
}

.sidebar li {
  padding: 10px 0;
  list-style: none;
}

.sidebar a {
  color: #2a9b07;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.sidebar span {
  padding-left: 6px;
}

.library {
  background-color: #121212;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4px 8px;
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
}

.library__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 7px;
}

.library__content .fa-plus {
  margin: 24px 10px;
}

.library__button {
  display: flex;
  margin-right: 10px;
  color: #b3b3b3;
  background-color: transparent;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  padding: 20px 10px;
  cursor: pointer;
}

.library__button .fa {
  font-size: 20px;
  margin-right: 10px;
  /*font-weight: 300;*/
  padding-right: 8px;
}

.section-playlist__content {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  padding-bottom: 80px;
}

.section-playlist__content span {
  padding: 4px;
}

.section-playlist__button,
.languages__button {
  display: flex;
  border-radius: 8px;
  padding: 5px;
  margin-top: 5px;
  border: 2px solid #2a9b07;
  background-color: transparent;
  color: white;
  cursor: pointer;
  align-items: center;
}

.cookies {
  padding: 4px;
}

